= javascript_pack_tag 'prescriptions_vue.js' 
#app(pet-id="#{@pet.id}")

/ .container
/   = render "shared/errors", obj: @prescription
/   .card.has-background-white-bis
/     h1.is-size-1.has-background-white-ter.mb-4
/       | 処方箋情報登録
/     = render 'form', {prescription: @prescription, pet: @pet}

= link_to 'Back', pet_medicine_notebook_index_path(@pet)
