- title "処方されたお薬編集"

= javascript_pack_tag "prescriptionsMedicinesEdit_vue.js"
#app(pet-id="#{@pet.id}" prescription-id="#{@prescription.id}" prescriptions-medicine-id="#{@prescriptions_medicine.id}")
