// Place all the styles related to the medicine-notebook controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.dropdown{
  z-index :100; 
}
//区切り線必要なら追加
// .border{
//   border-top :0.2px solid;
//   border-color:#DDDDDD;
//   margin-left: 5px;
// }
//.wf-nicomoji { font-family: "Nico Moji"; }
//.ferdoka {font-family: 'Fredoka One', cursive;}
//.Varela {font-family: 'Varela Round', sans-serif;}
.Mali {font-family: 'Mali', cursive;
  color:#4aa480; 
}

a {
  color:#4a4a4a;
}

.card.is-shadowless{
  border:0.1rem  solid #e1e4e8;
}

.container{
  min-height:550px; 
 }
.box.has-background{
  min-height:550px; 
}