// Place all the styles related to the medicine-notebook controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.dropdown{
  z-index :100; 
}

a {
  color:#4a4a4a;
}

.card.is-shadowless{
  border:0.1rem  solid #e1e4e8;
}

.page-header-title{
  color:lightseagreen;
}

.contents-body{
  min-height:600px; 
}
