// Place all the styles related to the medicine-notebook controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.dropdown{
  z-index :100; 
}

a {
  color:#4a4a4a;
}

.card.is-shadowless{
  border:0.1rem  solid #e1e4e8;
}

.page-header-title{
  color:#4a4a4a;
}

.contents-body{
  min-height:600px; 
}

li{
  display: flex;
  justify-content: flex-start;
  list-style: none;
  margin-bottom: 8px;
}

.container_pre{
  border: solid 0.1px ;
  width:100%;
  border:0.1rem  solid #e1e4e8
}

.title_pre{
  background-color:#edf6f1;
}

.text{
  color:lightseagreen;
}

table{
  width:100%;
}
