// Place all the styles related to the prescriptions_medicines controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.prescription-header{
  background-color: #edf6f1; 
  color:teal; 
}

.card-title{
  color:darkgreen;
  background-color: #edf6f1;
}

.box.has-background-white-bis.is-shadowless{
  border-top: 1px solid #e8e8e8 ;
}