// Place all the styles related to the prescriptions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.line{
  border-bottom: 0.5px solid #edf6f1;;
}

.header{
  border-bottom:0.5px solid #edf6f1;
}

.has-background-lightseagreen{
  background-color: lightseagreen; 
}

// table th, table td{
//   border:  dashed 0.1px lightseagreen;
// }

table{
  table-layout: fixed;  
}

th.medicine_name{
  width:100px;
}

th.medicine_memo{
  width:60px;
}
th.medicine_unit{
  width:30px;
}

th.medicine_doze{
  width:40px
}

tr{
  border-bottom: solid 0.1px ghostwhite;
}