.is-primary{
  background-color:lightseagreen;
  font-family: 'Kosugi Maru', sans-serif;
}

.link{
  border-bottom:0.2px solid grey;
}

.notification:not(:last-child){
  margin-bottom: 0px;
}

body{
  font-family: 'Kosugi Maru', sans-serif;
}
