.is-long-text{
  p {
    margin-bottom: 1rem;
  }
}

.welcome_header{
  color:lightseagreen;
}

.footer{
  background-color: #edf6f1; 
}

.content{
  li{
    border-bottom: none;
  }
}

.welcome-top-logo{
  width:80%;
  max-width: 400px;
}

.welcome-description-image{
  max-width: 200px;
}
