.is-long-text{
  p {
    margin-bottom: 1rem;
  }
}

.welcome_header{
  color:lightseagreen;
}

.footer{
  background-color: #edf6f1; 
}

.content{
  li{
    border-bottom: none;
  }
}

.welcome-top-logo{
  width:90%;
  max-width: 400px;
}

.welcome-web-image{
  width:50%;
  max-width: 400px;
}

.welcome-description-image{
  max-width: 200px;
}

.logo {
  font-family: 'Paytone One', sans-serif;
  color:lightseagreen;
  font-size:28px;
}

.main_description {
  color:#E36DB6;
}
